<!DOCTYPE html>
<html>
<head>
  <title>LongBox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='flash-messages'>
    <% flash.each do |key,message| %>
      <div class="flash-message <%= key %>"><%= message %></div>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
